/* File: resources/css/login.css */

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  background: url('../img/star-bg2.webp') no-repeat center center fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100vw;
  height: auto;
  max-width: 1220px;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 132px;
  padding: 8px;
  box-sizing: border-box;
}

.login-panel {
  flex: 1;
  background: #fff;
  border-radius: 12px;
  padding: 56px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 550px;     
  min-width: 380px;
  min-height: 520px;    
  box-sizing: border-box;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  color: #0a1f44;
  margin-bottom: 30px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  max-width: 420px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  max-width: 420px;
  padding: 12px;
  background: #0a1f44;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
}

button[type="submit"]:hover {
  background: #003366;
}

.register {
  margin-top: 20px;
  font-size: 16px;
}

.register a {
  color: #024a92;
  font-weight: bold;
  text-decoration: none;
}

.description-panel {
  flex: 1;
  color: white;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-10%);
}
.description-panel h2 {
  font-size: 32px;
  margin-bottom: 64px;
}

.description-panel p {
  font-size: 20px;
  line-height: 1.6;
}

@media (max-width: 992px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 40px 20px;
  }

  .description-panel {
    max-width: 90%;
  }
}

